@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html, body {
    height: 100%;
}

body {
    background: #f7f8f9;
    font-family: 'Quicksand', sans-serif;
}

.header {
    padding: 1.667rem 1.667rem 1rem 1.667rem;
}

.logo {
    height: 33px;
}

.wrapper {
    min-height: 100%;
}

.feed {
    overflow: auto;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

.info {
  font-size: 12px;
  color: #808080;
  padding-bottom: 10px;
  text-align: center;
}

.info > span {
  color: #f58d8c;
}

.footer {
    position: relative;
    margin-top: -50px;
    height: 50px;
    background: #40364d url("https://www.kayako.com/_themes/novo/img/sitewide-patterns/bg-pattern.jpg") 0 0;
    clear: both;
    text-align: center;
    color: #ffffff;
    font-size: 0.8rem;
}

.footer a {
    text-decoration: none;
    color: #f58d8c;
}

.footer a:hover {
    color: #9fc7cd;
    cursor: pointer;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.cell {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.tweet-box {
    border: 0.1rem solid #eeeeef;
    background-color: #fefefe;
    border-radius: 4px;
    text-align: left;
    padding: 2px 10px 2px 10px;
    min-height: 90px;
    max-width: 500px;
    min-width: 500px;
    margin: 10px auto;
}

.tweet {
    margin-top: 5px;
    font-size: 13.5px;
    font-weight: 400;
    color: #000000;
    overflow: auto;
    padding-bottom: 10px;
}

.tweet a {
    color: #69aab5;
    text-decoration: none;
}

.tweet a:hover {
    cursor: pointer;
    color: #fa8176;
}

.tweet-box>.header, .tweet-box>.stats {
    padding: 6px 6px 6px 0;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: center;
    -moz-box-align: center;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.tweet-box>.stats
{
  position: relative;
  margin-top: -10px;
  height: 10px;
  clear: both;
}

.tweet-box>.header>.user {
    font-size: 13px;
    color: #fa8176;
    font-weight: 400;
}

.tweet-box>.header>.date, .tweet-box>.stats {
    font-size: 10px;
    color: #c5c5c5;
}

.flex {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.tweet-box>.stats {
    margin-top: 8px;
}
